@import "variables";
@import "bootstrap/bootstrap";
@import "bootswatch";

ul {
  list-style-type: none;
}

.rotation-animation {
  -animation: spin .7s infinite linear;
  -webkit-animation: webkitSpin .7s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes webkitSpin {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
