<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Wodnet</h3>
    <nav class="nav nav-masthead">
      <a class="nav-link" routerLink='/in'>{{ 'start' | translate }}</a>
      <a class="nav-link" *ngIf="diceBoard" [routerLink]="diceBoard">{{ 'dice-board' | translate }}</a>
      <a class="nav-link" *ngIf="character" [routerLink]="character">{{ 'character' | translate }}</a>
      <a class="nav-link" (click)="signOut()">{{ 'exit' | translate }}</a>
    </nav>
  </div>
</div>
