<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-md-8">
      <ul class="list-unstyled list-plays">
        <li class="media mb-3" *ngFor="let item of rolls | async">
          <img class="mr-3 player-photo" [src]="item.playerPhoto" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{ item.characterName }} ({{item.player}})</h5>
            <h6><strong>{{ item.detail.hungerDices }}</strong> - {{ item.detail.dices }}</h6>
            <h6>{{ stateDescription(item.detail.state) }}</h6>
            <h6>{{ hungerStateDescription(item.detail.hungerState) }}</h6>
            <h6>{{ item.detail.successes }}</h6>
            <h6>{{ item.dicePoll | translate }}</h6>
            <h6>{{ adjunctsDescription(item.adjuncts) }}</h6>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ngb-accordion [closeOthers]="true" [activeIds]="isStoryteller ? 'choose-character-panel' : 'custom-roll-panel'">
        <ngb-panel id="choose-character-panel" *ngIf="isStoryteller">
          <ng-template ngbPanelTitle>{{ 'choose-character' | translate }}</ng-template>
          <ng-template ngbPanelContent>
            <ul>
              <li><button (click)="observeCharacter(null)">{{ 'none' | translate }}</button></li>
              <li *ngFor="let item of characters | async"><button (click)="observeCharacter(item.payload.key)">{{ item.payload.val().name }}</button></li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="custom-roll-panel"[disabled]="!isStoryteller && !character">
          <ng-template ngbPanelTitle>{{ 'custom-roll' | translate }}</ng-template>
          <ng-template ngbPanelContent>
            <form [formGroup]="customRollFormGroup" (submit)="customRoll()">
              <button [disabled]="!customRollFormGroup.valid" type="submit">{{ 'roll' | translate }}</button>
              <input type="number" formControlName="amount"/>
              <button *ngIf="!isStoryteller" type="button" (click)="noHunger()">{{ 'no-hunger' | translate }}</button>
              <input type="number" formControlName="hunger" [readonly]="!isStoryteller"/>
            </form>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="dice-poll-roll-panel" [disabled]="!character">
          <ng-template ngbPanelTitle>{{ 'dice-poll-roll' | translate }}</ng-template>
          <ng-template ngbPanelContent>
            <form [formGroup]="dicePollRollFormGroup" (submit)="dicePollRoll()">
              <button [disabled]="!dicePollRollFormGroup.valid" type="submit">{{ 'roll' | translate }}</button>
              {{ character.hunger }}
              <single-select formControlName="dicePoll" [source]="dicePolls" (selected)="chooseDicePoll($event)"></single-select>
              <multi-select formControlName="adjuncts" [source]="adjunctsSource"></multi-select>
              <input type="number" formControlName="modifier"/>
            </form>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
