<button (click)="goSetup()">{{ 'setup' | translate }}</button>
<p>{{ isStoryteller }}</p>
<ul>
  <li *ngFor="let item of rolls | async">
    {{ item | json }}
  </li>
</ul>
<hr>
<ul *ngIf="isStoryteller">
  <li><button (click)="observeCharacter(null)">{{ 'none' | translate }}</button></li>
  <li *ngFor="let item of characters | async"><button (click)="observeCharacter(item.payload.key)">{{ item.payload.val().name }}</button></li>
</ul>
<div *ngIf="readSubject | async; else loading">
<form [formGroup]="customRollFormGroup" (submit)="customRoll()">
  <button [disabled]="!customRollFormGroup.valid" type="submit">{{ 'roll' | translate }}</button>
  <input type="number" formControlName="amount"/>
  <input type="number" formControlName="hunger" [readonly]="!isStoryteller"/>
</form>
</div>
<ng-template #loading><p>{{ 'none' | translate }}</p></ng-template>
