@import "../../../stylesheet/global";

.player-photo {
    border-radius: 4.688em;
}

.list-plays {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;
}

@include media-breakpoint-down(lg) {
  .list-plays-responsive {
    max-height: 27.000em;
  }

  .player-photo-responsive {
    width: 4em;
    height: 4em;
  }
}

@include media-breakpoint-up(lg) {
  .list-plays-responsive {
    max-height: 40.000em;
  }

  .player-photo-responsive {
    width: 6em;
    height: 6em;
  }
}
