<div class="container-fluid pt-3">
  <div class="row d-lg-none d-xl-none pb-3 pl-3 pr-3">
    <button type="button" class="btn btn-lg btn-block" [class.btn-primary]="!isShowPlayAccordionWhenCollapse" [class.btn-warning]="isShowPlayAccordionWhenCollapse" (click)="showPlayAccordion()">
      {{ isShowPlayAccordionWhenCollapse ? '' : ('play-dice' | translate) }}
      <i class="fa" [class.fa-arrow-left]="isShowPlayAccordionWhenCollapse" [class.fa-arrow-right]="!isShowPlayAccordionWhenCollapse"></i>
      {{ isShowPlayAccordionWhenCollapse ? ('plays' | translate) : '' }}
    </button>
  </div>
  <div class="row">
    <div class="col-md-8" [ngClass]="{'d-none d-lg-block': isShowPlayAccordionWhenCollapse}">
      <ul class="list-unstyled list-plays list-plays-responsive">
        <li class="media mb-3 mr-3" *ngFor="let item of rolls | async">
          <img class="mr-3 player-photo player-photo-responsive" [src]="item.playerPhoto" placement="bottom" [ngbTooltip]="item.player">
          <div class="media-body">
            <h5 class="mt-0 mb-1 clearfix">
              <span class="float-left" [class.text-muted]="item.characterName == null">{{ item.characterName ? item.characterName : ('unknown' | translate) }}</span>
              <span class="float-right badge badge-dark" placement="bottom" [ngbTooltip]="'successes' | translate">{{ item.detail.successes }}</span>
            </h5>
            <h6 *ngIf="item.dicePoll">
              <span class="mr-3">{{ item.dicePoll | translate }}</span>
              <span class="badge badge-secondary mr-1" *ngFor="let adjunct of item.adjuncts"><i class="fa fa-plus"></i> {{ adjunct | translate }}</span>
            </h6>
            <h6>
              <span class="badge badge-danger mr-1" *ngFor="let hungerDice of item.detail.hungerDices">{{ hungerDice }}</span>
            </h6>
            <h6>
              <span class="badge badge-dark mr-1" *ngFor="let dice of item.detail.dices">{{ dice }}</span>
            </h6>
            <h6 class="clearfix">
              <span class="float-left">{{ item.when | date: 'dd/MM/yy hh:mm:ss' }}</span>
              <span class="float-right" [ngSwitch]="item.detail.state">
                <span class="badge badge-danger" *ngSwitchCase="rollState.Failure">{{ 'failure' | translate}}</span>
                <span class="badge badge-success" *ngSwitchCase="rollState.Success">{{ 'success' | translate}}</span>
                <span class="badge badge-warning" *ngSwitchCase="rollState.MessyCritical">{{ 'messycritical' | translate}}</span>
                <span class="badge badge-info" *ngSwitchCase="rollState.CriticalSuccess">{{ 'criticalsuccess' | translate}}</span>
              </span>
              <span class="float-right mr-3" [ngSwitch]="item.detail.hungerState">
                <span class="badge badge-warning" *ngSwitchCase="hungerState.Distracted">{{ 'distracted' | translate}}</span>
                <span class="badge badge-danger" *ngSwitchCase="hungerState.Compulsion">{{ 'compulsion' | translate}}</span>
              </span>
            </h6>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4" [ngClass]="{'d-none d-lg-block': !isShowPlayAccordionWhenCollapse}">
      <ngb-accordion [closeOthers]="true" [activeIds]="isStoryteller ? 'choose-character-panel' : 'custom-roll-panel'">
        <ngb-panel id="choose-character-panel" *ngIf="isStoryteller">
          <ng-template ngbPanelTitle><span class="pr-4">{{ 'choose-character' | translate }}</span><span class="badge badge-secondary" *ngIf="character">{{character.name}}</span></ng-template>
          <ng-template ngbPanelContent>
            <ul class="list-group list-group-flush">
              <li class="list-group-item clearfix" *ngIf="charactersBlocker.value">
                <div class="d-flex justify-content-center"><span class="fa fa-spinner rotation-animation"></span></div>
              </li>
              <li class="list-group-item clearfix" *ngFor="let item of characters | async">
                <div class="float-left">{{ item.payload.val().name }}</div>
                <div class="float-right"><button type="button" class="btn btn-outline-primary btn-sm" (click)="observeCharacter(item.payload.key)"><i class="fa fa-arrow-right"></i></button></div>
              </li>
              <li class="list-group-item clearfix">
                <button class="btn btn-outline-primary btn-lg btn-block" (click)="observeCharacter(null)">{{ 'none' | translate }}</button>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="custom-roll-panel"[disabled]="!isStoryteller && !character">
          <ng-template ngbPanelTitle>{{ 'custom-roll' | translate }}</ng-template>
          <ng-template ngbPanelContent>
            <form [formGroup]="customRollFormGroup" (submit)="customRoll()">
              <div class="form-group">
                <label class="form-control-label" for="inputAmount">{{ 'amount' | translate }}</label>
                <input type="number" class="form-control" id="inputAmount" formControlName="amount">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="inputHunger">{{ 'hunger' | translate }}</label>
                <input type="number" class="form-control" id="inputHunger" formControlName="hunger" [readonly]="!isStoryteller">
              </div>
              <div class="d-flex justify-content-around">
                <div class="p-2" *ngIf="!isStoryteller"><button type="button" class="btn btn-outline-primary" (click)="noHunger()">{{ 'no-hunger' | translate }}</button></div>
                <div class="p-2"><button type="submit" class="btn btn-outline-primary" [disabled]="!customRollFormGroup.valid">{{ 'roll' | translate }}</button></div>
              </div>
            </form>
          </ng-template>
        </ngb-panel>
        <ngb-panel id="dice-poll-roll-panel" [disabled]="!character">
          <ng-template ngbPanelTitle>{{ 'dice-poll-roll' | translate }}</ng-template>
          <ng-template ngbPanelContent>
            <form [formGroup]="dicePollRollFormGroup" (submit)="dicePollRoll()">
              <button [disabled]="!dicePollRollFormGroup.valid" type="submit">{{ 'roll' | translate }}</button>
              {{ character.hunger }}
              <single-select formControlName="dicePoll" [source]="dicePolls" (selected)="chooseDicePoll($event)"></single-select>
              <multi-select formControlName="adjuncts" [source]="adjunctsSource"></multi-select>
              <input type="number" formControlName="modifier"/>
            </form>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>
