@import "../../../stylesheet/global";

.player-photo {
    width: 9.375em;
    height: 9.375em;
    border-radius: 4.688em;
}

.list-plays {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;
}

@include media-breakpoint-up(lg) {
  .list-plays-max-height {
    max-height: 40.000em;
  }
}
