.player-photo {
    width: 9.375em;
    height: 9.375em;
    border-radius: 4.688em;
}

.list-plays {
    max-height: 40.000em;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;
}

@media screen and (min-width: 992px) {
  .show-play-accordion {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .play-accordion {
    display: none;
  }
}
