@import 'colors';
@import 'typography';

body{
    background-color: $background-color;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-size: 12px;
    color: #fff;
}

a{
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn-default{
    border: 0;
    color: #fff;
    padding: 10px 25px;
    border-radius: 25px;
}

.btn-red{
    background-color: $red-button;
}

.btn-expanded{
    width: 100%;
}