<ul>
  <li *ngFor="let chronicle of chronicles | async">
    {{ chronicle.name }}
  </li>
</ul>
<form [formGroup]="formGroup" (submit)="createChronicle()">
  <input type="text" formControlName="name"/>
  <div ngxErrors="name">
    <div ngxError="required">{{ 'name-required' | translate }}</div>
    <div [ngxError]="['minlength', 'maxlength']">{{ 'name-minlength-maxlength' | translate }}</div>
  </div>
  <button [disabled]="!formGroup.valid" type="submit">{{ 'create' | translate }}</button>
</form>
