<div *ngIf="formGroup | async; else none; let group">
  <form [formGroup]="group" (submit)="submit(group.value)">
    <button *ngIf="isOpen(group)" [disabled]="!group.valid" type="submit">{{ 'save' | translate }}</button>
    <div *ngIf="isStoryteller">
      <label for="isOpen">{{ 'isOpen' | translate }}</label>
      <input id="isOpen" type="checkbox" formControlName="isOpen"/>
    </div>
    <table>
      <tbody>
        <tr>
          <td>{{ 'name' | translate }}</td>
          <td>
            <input type="text" formControlName="name" [readonly]="!isOpen(group)"/>
            <div ngxErrors="name">
              <div ngxError="required">{{ 'name-required' | translate }}</div>
              <div [ngxError]="['minlength', 'maxlength']">{{ 'name-minlength-maxlength' | translate }}</div>
            </div>
          </td>
          <td>{{ 'virtue' | translate }}</td>
          <td><single-select formControlName="virtue" [isDisabled]="!isOpen(group)" [source]="virtues"></single-select></td>
          <td>{{ 'clan' | translate }}</td>
          <td><single-select formControlName="clan" [isDisabled]="!isOpen(group)" [source]="clans"></single-select></td>
        </tr>
        <tr>
          <td>{{ 'player' | translate }}</td>
          <td><single-select formControlName="ownerId" [isDisabled]="!isStoryteller" [source]="users"></single-select></td>
          <td>{{ 'vice' | translate }}</td>
          <td><single-select formControlName="vice" [isDisabled]="!isOpen(group)" [source]="vices"></single-select></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{ 'physical' | translate }}</th>
          <th colspan="2">{{ 'social' | translate }}</th>
          <th colspan="2">{{ 'mental' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'strength' | translate }}</td>
          <td><circle-spinner formControlName="strength" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></td>
          <td>{{ 'charisma' | translate }}</td>
          <td><circle-spinner formControlName="charisma" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></td>
          <td>{{ 'perception' | translate }}</td>
          <td><circle-spinner formControlName="perception" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></td>
        <tr>
        <tr>
          <td>{{ 'dexterity' | translate }}</td>
          <td><circle-spinner formControlName="dexterity" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></td>
          <td>{{ 'manipulation' | translate }}</td>
          <td><circle-spinner formControlName="manipulation" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></td>
          <td>{{ 'intelligence' | translate }}</td>
          <td><circle-spinner formControlName="intelligence" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></td>
        <tr>
        <tr>
          <td>{{ 'stamina' | translate }}</td>
          <td><circle-spinner formControlName="stamina" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></td>
          <td>{{ 'appearance' | translate }}</td>
          <td><circle-spinner formControlName="appearance" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></td>
          <td>{{ 'wits' | translate }}</td>
          <td><circle-spinner formControlName="wits" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></td>
        <tr>
      </tbody>
    </table>
    <ul [formGroup]="group.controls.physical">
      <li *ngFor="let item of group.controls.physical | formGroupParse">
        <span>{{ item.label }}</span>
        <span><circle-spinner [formControlName]="item.key" [min]="skillMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></span>
      </li>
    </ul>
    <ul [formGroup]="group.controls.social">
      <li *ngFor="let item of group.controls.social | formGroupParse">
        <span>{{ item.label }}</span>
        <span><circle-spinner [formControlName]="item.key" [min]="skillMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></span>
      </li>
    </ul>
    <ul [formGroup]="group.controls.mental">
      <li *ngFor="let item of group.controls.mental | formGroupParse">
        <span>{{ item.label }}</span>
        <span><circle-spinner [formControlName]="item.key" [min]="skillMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></span>
      </li>
    </ul>
    <span>{{ 'humanity' | translate }}</span>
    <span><circle-spinner formControlName="humanity" min="1" max="10" [isDisabled]="!isOpen(group)"></circle-spinner></span>
    <span>{{ 'touchstones' | translate }}</span>
    <input type="text" formControlName="touchstones" [readonly]="!isOpen(group)"/>
    <span>{{ 'backgroundsAndMerits' | translate }}</span>
    <input type="text" formControlName="backgroundsAndMerits" [readonly]="!isOpen(group)"/>
    <span>{{ 'health' | translate }}</span>
    <health [isDisabled]="!isOpen(group)"></health>
    <span>{{ 'willpower' | translate }}</span>
    <span><circle-spinner formControlName="consolidateWillpower" min="0" max="5" [isDisabled]="!isOpen(group)"></circle-spinner></span>
    <span><square-spinner formControlName="willpower" min="0" maxByControl="consolidateWillpower" [isDisabled]="!isOpen(group)"></square-spinner></span>
    <span>{{ 'composure' | translate }}</span>
    <span><circle-spinner formControlName="consolidateComposure" min="0" max="5" [isDisabled]="!isOpen(group)"></circle-spinner></span>
    <span><square-spinner formControlName="composure" min="0" maxByControl="consolidateComposure" [isDisabled]="!isOpen(group)"></square-spinner></span>
    <span>{{ 'hunger' | translate }}</span>
    <span><square-spinner formControlName="hunger" min="0" max="5" [isDisabled]="!isOpen(group)"></square-spinner></span>
    <multi-select formControlName="specializations" [isDisabled]="!isOpen(group)" [source]="specializationsSource"></multi-select>
    <dynamic-form-group [formGroup]="group.controls.disciplines" [source]="disciplines" [createControl]="createDisciplineControl" [isDisabled]="!isOpen(group)">
      <ng-template let-item="item">
        <circle-spinner [formControlName]="item.key" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner>
      </ng-template>
    </dynamic-form-group>
  </form>
</div>
<ng-template #none><p>{{ 'none' | translate }}</p></ng-template>

