<div *ngIf="formGroup | async; else none; let group">
  <form [formGroup]="group" (submit)="submit(group.value)">
    <div class="d-flex flex-row-reverse">
      <div class="p-1" *ngIf="isOpen(group)"><button class="btn btn-primary btn-sm" [disabled]="!group.valid" type="submit">{{ 'save' | translate }}</button></div>
      <div class="p-1 btn-group btn-group-toggle" *ngIf="isStoryteller" ngbRadioGroup formControlName="isOpen">
        <label ngbButtonLabel class="btn btn-outline-success btn-sm">
          <input ngbButton type="radio" [value]="true"> {{ 'yes' | translate }}
        </label>
        <label ngbButtonLabel class="btn btn-outline-warning btn-sm">
          <input ngbButton type="radio" [value]="false"> {{ 'no' | translate }}
        </label>
      </div>
      <div class="p-1" *ngIf="isStoryteller"><h6>{{ 'isOpen' | translate }}</h6></div>
    </div>
    <div class="d-flex justify-content-around">
      <ul>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'name' | translate }}</div>
          <div class="w-50">
            <input type="text" class="form-control" formControlName="name" [readonly]="!isOpen(group)">
            <ul ngxErrors="name" class="form-errors">
              <li ngxError="required" when="touched"> {{ 'name-required' | translate }} </li>
              <li [ngxError]="['minlength', 'maxlength']" when="dirty"> {{ 'name-minlength-maxlength' | translate }} </li>
            </ul>
          </div>
        </li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'player' | translate }}</div>
          <div class="w-50"><single-select formControlName="ownerId" [isDisabled]="!isStoryteller" [source]="users"></single-select></div>
        </li>
      </ul>
      <ul>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'predator' | translate }}</div>
          <div class="w-50"><single-select formControlName="predator" [isDisabled]="!isOpen(group)" [source]="predators"></single-select></div>
        </li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'clan' | translate }}</div>
          <div class="w-50"><single-select formControlName="clan" [isDisabled]="!isOpen(group)" [source]="clans"></single-select></div>
        </li>
      </ul>
      <ul>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'generation' | translate }}</div>
          <div class="w-50">
            <input type="number" class="form-control" formControlName="generation" [readonly]="!isOpen(group)" min="4" max="16">
            <ul ngxErrors="generation" class="form-errors">
              <li ngxError="required" when="touched"> {{ 'generation-required' | translate }} </li>
              <li [ngxError]="['min', 'max']" when="dirty"> {{ 'generation-min-max' | translate }} </li>
            </ul>
          </div>
        </li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'experience' | translate }}</div>
          <div class="w-50">
            <input type="number" class="form-control" formControlName="experience" [readonly]="!isOpen(group)">
          </div>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-around">
      <ul>
        <li class="attributes"><h5>{{ 'physical' | translate }}</h5></li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'strength' | translate }}</div>
          <div><circle-spinner formControlName="strength" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'dexterity' | translate }}</div>
          <div><circle-spinner formControlName="dexterity" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'stamina' | translate }}</div>
          <div><circle-spinner formControlName="stamina" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
      </ul>
      <ul>
        <li class="attributes"><h5>{{ 'social' | translate }}</h5></li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'charisma' | translate }}</div>
          <div><circle-spinner formControlName="charisma" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'manipulation' | translate }}</div>
          <div><circle-spinner formControlName="manipulation" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'composure' | translate }}</div>
          <div><circle-spinner formControlName="composure" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
      </ul>
      <ul>
        <li class="attributes"><h5>{{ 'mental' | translate }}</h5></li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'intelligence' | translate }}</div>
          <div><circle-spinner formControlName="intelligence" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'wits' | translate }}</div>
          <div><circle-spinner formControlName="wits" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
        <li class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ 'resolve' | translate }}</div>
          <div><circle-spinner formControlName="resolve" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-around">
      <ul>
        <li class="attributes"><h5>{{ 'health' | translate }}</h5></li>
        <li><damage formControlName="health" [max]="[ 'stamina' ]" maxPlus="3" [isDisabled]="!isOpen(group)"></damage></li>
      </ul>
      <ul>
        <li class="attributes"><h5>{{ 'willpower' | translate }}</h5></li>
        <li><damage formControlName="willpower" [max]="[ 'composure', 'resolve' ]" [isDisabled]="!isOpen(group)"></damage></li>
      </ul>
    </div>
    <div class="d-flex justify-content-around">
      <ul [formGroup]="group.controls.physical">
        <li *ngFor="let item of group.controls.physical | formGroupParse" class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ item.label }}</div>
          <div><circle-spinner [formControlName]="item.key" [min]="skillMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
      </ul>
      <ul [formGroup]="group.controls.social">
        <li *ngFor="let item of group.controls.social | formGroupParse" class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ item.label }}</div>
          <div><circle-spinner [formControlName]="item.key" [min]="skillMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
      </ul>
      <ul [formGroup]="group.controls.mental">
        <li *ngFor="let item of group.controls.mental | formGroupParse" class="d-flex justify-content-end pt-1 pb-1">
          <div class="pr-4 tag">{{ item.label }}</div>
          <div><circle-spinner [formControlName]="item.key" [min]="skillMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner></div>
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-around">
      <ul>
        <li class="attributes"><h5>{{ 'blood-potency' | translate }}</h5></li>
        <li><circle-spinner formControlName="bloodPotency" min="1" max="10" [isDisabled]="!isOpen(group)"></circle-spinner></li>
      </ul>
      <ul>
        <li class="attributes"><h5>{{ 'hunger' | translate }}</h5></li>
        <li><square-spinner formControlName="hunger" min="0" max="5" [isDisabled]="!isOpen(group)"></square-spinner></li>
      </ul>
      <ul>
        <li class="attributes"><h5>{{ 'humanity' | translate }}</h5></li>
        <li><square-spinner formControlName="humanity" min="1" max="10" [isDisabled]="!isOpen(group)"></square-spinner></li>
      </ul>
    </div>
    <span>{{ 'touchstones' | translate }}</span>
    <input type="text" formControlName="touchstones" [readonly]="!isOpen(group)"/>
    <span>{{ 'backgroundsAndMerits' | translate }}</span>
    <input type="text" formControlName="backgroundsAndMerits" [readonly]="!isOpen(group)"/>
    <multi-select formControlName="specializations" [isDisabled]="!isOpen(group)" [source]="specializationsSource"></multi-select>
    <dynamic-form-group [formGroup]="group.controls.disciplines" [source]="disciplines" [createControl]="createDisciplineControl" [isDisabled]="!isOpen(group)">
      <ng-template let-item="item">
        <circle-spinner [formControlName]="item.key" [min]="attributeMin" [max]="max" [isDisabled]="!isOpen(group)"></circle-spinner>
      </ng-template>
    </dynamic-form-group>
  </form>
</div>
<ng-template #none><p>{{ 'none' | translate }}</p></ng-template>
