<div *ngIf="formGroup | async; else none; let group">
  <form [formGroup]="group" (submit)="submit(group.value)">
    <button [disabled]="!group.valid" type="submit">{{ 'save' | translate }}</button>
    <table>
      <tbody>
        <tr>
          <td>{{ 'name' | translate }}</td>
          <td>
            <input type="text" formControlName="name"/>
            <div ngxErrors="name">
              <div ngxError="required">{{ 'name-required' | translate }}</div>
              <div [ngxError]="['minlength', 'maxlength']">{{ 'name-minlength-maxlength' | translate }}</div>
            </div>
          </td>
          <td>{{ 'virtue' | translate }}</td>
          <td><single-select formControlName="virtue" [source]="virtues"></single-select></td>
          <td>{{ 'clan' | translate }}</td>
          <td><single-select formControlName="clan" [source]="clans"></single-select></td>
        </tr>
        <tr>
          <td>{{ 'player' | translate }}</td>
          <td>
            <div *ngIf="canChangePlayer">
              <single-select formControlName="ownerId" [disabled]="!canChangePlayer" [source]="users"></single-select>
            </div>
          </td>
          <td>{{ 'vice' | translate }}</td>
          <td><single-select formControlName="vice" [source]="vices"></single-select></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <th colspan="2">{{ 'physical' | translate }}</th>
          <th colspan="2">{{ 'social' | translate }}</th>
          <th colspan="2">{{ 'mental' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ 'strength' | translate }}</td>
          <td><circle-spinner formControlName="strength" [min]="attributeMin" [max]="max"></circle-spinner></td>
          <td>{{ 'charisma' | translate }}</td>
          <td><circle-spinner formControlName="charisma" [min]="attributeMin" [max]="max"></circle-spinner></td>
          <td>{{ 'perception' | translate }}</td>
          <td><circle-spinner formControlName="perception" [min]="attributeMin" [max]="max"></circle-spinner></td>
        <tr>
        <tr>
          <td>{{ 'dexterity' | translate }}</td>
          <td><circle-spinner formControlName="dexterity" [min]="attributeMin" [max]="max"></circle-spinner></td>
          <td>{{ 'manipulation' | translate }}</td>
          <td><circle-spinner formControlName="manipulation" [min]="attributeMin" [max]="max"></circle-spinner></td>
          <td>{{ 'intelligence' | translate }}</td>
          <td><circle-spinner formControlName="intelligence" [min]="attributeMin" [max]="max"></circle-spinner></td>
        <tr>
        <tr>
          <td>{{ 'stamina' | translate }}</td>
          <td><circle-spinner formControlName="stamina" [min]="attributeMin" [max]="max"></circle-spinner></td>
          <td>{{ 'appearance' | translate }}</td>
          <td><circle-spinner formControlName="appearance" [min]="attributeMin" [max]="max"></circle-spinner></td>
          <td>{{ 'wits' | translate }}</td>
          <td><circle-spinner formControlName="wits" [min]="attributeMin" [max]="max"></circle-spinner></td>
        <tr>
      </tbody>
    </table>
    <ul [formGroup]="group.controls.physical">
      <li *ngFor="let item of group.controls.physical | formGroupParse">
        <span>{{ item.label }}</span>
        <span><circle-spinner [formControlName]="item.key" [min]="skillMin" [max]="max"></circle-spinner></span>
      </li>
    </ul>
    <ul [formGroup]="group.controls.social">
      <li *ngFor="let item of group.controls.social | formGroupParse">
        <span>{{ item.label }}</span>
        <span><circle-spinner [formControlName]="item.key" [min]="skillMin" [max]="max"></circle-spinner></span>
      </li>
    </ul>
    <ul [formGroup]="group.controls.mental">
      <li *ngFor="let item of group.controls.mental | formGroupParse">
        <span>{{ item.label }}</span>
        <span><circle-spinner [formControlName]="item.key" [min]="skillMin" [max]="max"></circle-spinner></span>
      </li>
    </ul>
    <square-spinner formControlName="hunger" min="0" max="5"></square-spinner>
    <dynamic-form-group [formGroup]="group.controls.disciplines" [source]="disciplines" [createControl]="createDisciplineControl">
      <ng-template let-item="item">
        <circle-spinner [formControlName]="item.key" [min]="attributeMin" [max]="max"></circle-spinner>
      </ng-template>
    </dynamic-form-group>
  </form>
</div>
<ng-template #none><p>{{ 'none' | translate }}</p></ng-template>

