<div *ngIf="formGroup | async; else loading; let group">
  <form [formGroup]="group" (submit)="submit(group.value)">
    <input type="text" formControlName="name"/>
    <div ngxErrors="name">
      <div ngxError="required">{{ 'name-required' | translate }}</div>
      <div [ngxError]="['minlength', 'maxlength']">{{ 'name-minlength-maxlength' | translate }}</div>
    </div>
    <spinner formControlName="strength" [min]="attributeMin" [max]="max"></spinner>
    <div *ngIf="canChangePlayer">
      <single-select formControlName="ownerId" [source]="users"></single-select>
    </div>
    <button [disabled]="!group.valid" type="submit">{{ 'save' | translate }}</button>
  </form>
</div>
<ng-template #loading><p>{{ 'none' | translate }}</p></ng-template>

