
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>{{'my-characters' | translate}}</h4>
      <ul>
        <li *ngFor="let item of myCharacters | async">
          <a class="item" (click)="playCharacter(item)">{{ item.payload.val().name }}</a>
        </li>
      </ul>    
    </div>
    
    <div class="col-md-6">
      <h4>{{'my-chronicles' | translate}}</h4>
      <ul>
        <li *ngFor="let item of myChronicles | async">
          <a (click)="playChronicle(item)">{{ item.payload.val().name }}</a>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Botão com um + que chama uma popup com isso -->
  <!-- <h4>{{'create-chronicle' | translate}}</h4>
  <form [formGroup]="formGroup" (submit)="createChronicle()">
    <input type="text" formControlName="name"/>
    <div ngxErrors="name">
      <div ngxError="required">{{ 'name-required' | translate }}</div>
      <div [ngxError]="['minlength', 'maxlength']">{{ 'name-minlength-maxlength' | translate }}</div>
    </div>
    <button [disabled]="!formGroup.valid" type="submit">{{ 'create' | translate }}</button>
  </form>     -->
</div>
  
